body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    .top{
        background-image: url("images/top-banner.png");
        height: 500px;
        padding: 100px;
        background-repeat: no-repeat;

    }
    h1{
        font-size: 50px;
        font-weight: 600;

    }
    .focus{
        color: dodgerblue;

    }

.half-width{
    float: left;
    margin-left: 5%;
    padding-left: 3%;
    width: 40%;

}
.half-width img{
    width: 100%;
}
